.det_cont{
	width: 1000px;margin: 0 auto;background: #fff;
}
.det_cont_left{
	float: left;
}
.det_cont_right{
	width: 340px;float: right;background: #fff;margin-top: 10px;
}

.det_cont_Rdiv{
	width: 300px;margin-top: 10px;background: #fff;border-radius: 3px;margin-left: 10px;
}
.det_cont_Rdiv>div>img{
	width: 130px;height: 130px;margin: 10px;
}
.det_cont_Rdiv>span{
	height: 40px;line-height: 40px;padding-left: 20px;width: 280px;display: block;font-size: 14px;color: #333;
}
.det_cont_Rdiv>span a{
	font-size: 14px;color: #333;margin-left: 100px;
}
.det_cont_Rdiv>span a:hover{
	color: #FA7D3C;
}
#wei_zan>img{
	width: 100px;height: 100px;float: left;
}
#wei_zan>div{
	width: 170px;height: 100px;float: right; margin-right: 10px;margin-top: 10px;font-size: 13px;overflow: hidden;
}
#wei_zan>div p{
	line-height: 25px;
}
#wei_zan>div p a{
	line-height: 30px;font-weight: bold;color: #333;
}
#wei_zan>div p a:hover{
	color: #FA7D3C;
}
.clear{
	clear: both;width: 300px;height: 1px;border-bottom: 1px solid #F2F2F5;
}