body,div,ul,li,a,h1,h2,h3,h4,h5,h6,input,textarea,select,table,th,td,tr,p,span{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.body{
	background: url(./../images/body_repeat.png) repeat-x;background-color: #B4DAF0;
}
.content{
	width: 1080px;margin: 0 auto;
}
.content>div{float: left;}
.con_left{
	width: 160px;height: 500px;background-color: #5DA8D4;background-color: rgba(255,255,255,0.2);
}
.con_left>a{
	color: #fff;width: 140px;padding-left: 20px;display: block;font-size: 14px;height: 35px;line-height: 35px;text-align: center;
}
.con_left>b{width: 160px;height: 1px;background-color: #AADBF5;display: block;margin: 10px 0;}
.con_center{
	width: 640px;margin: 0 10px;
}
.con_right{
	width: 260px;
}
.conR_one{
	width: 258px;height: 170px;background-color: #fff;position: relative;
}
.conR_bg{width: 258px;height: 78px; background: url(./../images/tou_s.jpg) no-repeat;position: absolute;top: 0px;}
.conR_pic{position: absolute;top:35px; left:100px;}
.conR_pic img{
	width: 60px;height: 60px;border-radius: 50%;
}
.conR_name{position: absolute;top:100px;width: 258px;text-align: center;}
.conR_name .name{font-size: 14px;color: #333;}
.conR_name .level{font-size: 12px;color: #fff;background-color: #FE7E00;height: 15px;border-radius: 7px;padding: 0 5px;}
.conR_ul{
	width: 258px;height: 33px;position: absolute;bottom: 10px;background-color: #fff;
}
.conR_ul li{border-right: 1px solid #D9D9D9;float: left;}
.conR_ul li>a{width: 82px;height: 33px;display: inline-block; text-align: center;}
.conR_ul li>a b{font-size: 16px;color: #333;width: 82px;display: inline-block;}
.conR_ul li>a span{font-size: 12px;color: #ccc;width: 82px; }
.conR_two{
	width: 260px;height:320px;background: #fff;margin-top: 10px;
}
.conR_hot{width: 260px;height: 39px;border-bottom: 1px solid #F2F2F5;}
.hot{font-size: 14px;color: #333;font-weight: bold;margin-left: 15px;line-height: 39px;}
.hot:hover{color: #FA7D3C;}
.huan{float: right;margin-right: 10px;line-height: 39px;font-size: 13px;color: #555;background: url(./../images/huan.png) no-repeat 0px center;padding-left: 15px;}
.huan:hover{background: url(./../images/huan_1.png) no-repeat 0px center;color:#FA7D3C;}
.conR_two>ul{
	margin-top: 5px;
}
.conR_two>ul li{
	width: 260px;display: block;height: 30px;line-height: 30px;
}
.conR_two>ul li>a{
	width: 180px;font-size: 12px;color: #333;float: left;margin-left: 10px;
}
.conR_two>ul li>a:hover{
	color:#FA7D3C;
}
.conR_two>ul li>span{
	width: 40px;font-size: 12px;color: #666;float: right;margin-right: 15px;
}
.conR_more{
	width: 260px;border-top: 1px solid #D9D9D9;text-align: center;vertical-align: middle;
}
.conR_more>a{
	font-size: 12px;color: #555;margin: 0 auto;line-height: 35px;
}
.conR_more>a:hover{color:#FA7D3C;}
.conR_three{
	width: 260px;height:500px;background-color:#fff;margin-top: 10px;
}
.friends{
	width: 240px;height: 39px;border-bottom: 1px solid #F2F2F5;font-size: 14px;color: #333;font-weight: bold;line-height: 39px;padding-left: 20px;
}
.friends_ul li{
	width: 260px;height:45px;background-color: #F2F2F5;padding-top:15px;margin-top: 10px;
}
.friends_ul li div,.friends_ul li img{float: left;display: inline-block;}
.friends_ul li div{
	width: 130px;height: 30px;overflow: hidden;margin-left: 10px;
}
.friends_ul li div>a,.friends_ul li div>span{width: 130px;display:block;font-size: 12px;height: 15px;}
.friends_ul li div>a{color: #FA7D3C;}
.friends_ul li div>span{color: #666;}

.conC_one{
	width: 640px;height: 170px;background: #fff;
}
.conC_two{
	width: 640px;height: 40px;background: #fff;margin-top: 10px;
}
.conC_two ul li{
	float: left;font-size: 13px;line-height: 40px;margin: 0 15px;color: #555;
}
.conC_two ul li:hover{
	color:#fa7d3c;cursor: pointer;
}
.weibo{
	width: 640px;margin-top: 10px;padding: 10px;background-color: #fff;position: relative;
}
.xiangxia{
	width: 15px;height: 12px;display: block;background: url(./../images/xiangxia.png);margin-left: 600px;
}
.xiangxia_show{
	width: 120px;position: absolute;border: 1px solid #ddd;right: 20px;background-color: #fff;
}
.xiangxia_show ul li>a{
	width: 120px;height: 25px;line-height: 25px;text-align: center;display: block;color: #666;
}
.xiangxia_show ul li>a:hover{
	background: #dcdcdc;
}
.xiangxia:hover{
	background: url(./../images/xiangxia_1.png);
}
.weibo_d1>img{
	width: 60px;height: 60px;border-radius: 50%;
}
.weibo_d1,.weibo_d2{float: left;}
.weibo_d2{
	margin-left: 10px;width: 500px;
}
.weibo_d3{
	margin-left: 10px;width: 470px;background: #F3F3F3;margin: 15px auto;padding-left: 30px;
}
.wei_name{
	font-size: 14px;font-weight: bold;color: #333;line-height: 30px;
}
.wei_name:hover{
	color: #FA7D3C;
}
.wei_time{
	font-size: 12px;color: #666;
}
.wei_time a{
	color: #666;
}
.wei_time a:hover{
	color: #FA7D3C;
}
.wei_cont{
	margin-top: 15px;
}
.wei_cont p{
	font-size: 14px;font-family: '微软雅黑';color: #333;line-height: 25px;
}
.wei_ul{
	width: 450px;
}
.wei_ul li{
	width: 110px;height: 110px;margin: 5px;float: left;
}
.wei_ul li img{
	width: 110px;height: 110px;
}
.wei_bottom{
	width: 620px;height: 39px;border-top: 1px solid #F2F2F5;
}
.wei_bottom ul li{
	width: 154px;height: 39px;line-height: 39px;float: left;text-align: center;
}
.wei_bottom ul li a,.wei_bottom ul li span{
	font-size: 12px;color: #666;padding-left: 15px;
}
.wei_bottom ul li:nth-child(1) a{
	background: url(./../images/shoucang.png) no-repeat 0 2px;
}
.wei_bottom ul li:nth-child(1) a:hover{
	background: url(./../images/shoucang_1.png) no-repeat 0 2px;color: #FA7D3C;
}
.wei_bottom ul li:nth-child(2) a{
	background: url(./../images/zhuanfa.png) no-repeat 0 2px;
}
.wei_bottom ul li:nth-child(2) a:hover{
	background: url(./../images/zhuanfa_1.png) no-repeat 0 2px;color: #FA7D3C;
}
.wei_bottom ul li:nth-child(3) a{
	background: url(./../images/pinglun.png) no-repeat 0 2px;
}
.wei_bottom ul li:nth-child(3) a:hover{
	background: url(./../images/pinglun_1.png) no-repeat 0 2px;color: #FA7D3C;
}
.wei_bottom ul li:nth-child(4) a{
	background: url(./../images/zan.png) no-repeat 0 2px;
}
.wei_bottom ul li:nth-child(4) a:hover{
	background: url(./../images/zan_1.png) no-repeat 0 2px;color: #FA7D3C;
}
.wei_replay{
	width: 620px;background-color: #F2F2F5;border-top: 1px solid #D9D9D9;display: none;
}
.wei_ping{width: 620px;height:70px;margin-top: 10px;border-bottom: 1px solid #D9D9D9;}
.wei_ping>form{
	float: right;width: 560px;margin-right: 20px;
}
.wei_pingcon{
	width: 560px;height: 25px;
}
.wei_pinglun{
	float: right;width: 60px;height: 25px;line-height: 25px;background-color: #FFC09F;text-align: center;color: #fff;border: none;border-radius:3px;margin-top: 5px;
}
.WB_ping_one{
	width: 620px;height: 40px;margin: 15px auto;border-bottom: 1px dashed #D9D9D9;padding-bottom: 10px;
}
.WB_ping_one>a,.WB_ping_oneul{
	float: left;
}
.WB_ping_oneul{
	width: 560px;height: 30px;margin-left: 10px;
}
.WB_ping_oneul li{
	font-size: 11px;color: #333;
}
.WB_ping_oneul li>a{
	font-size: 11px;color: #FA7D3C;
}
.WB_ping_onespan{
	float: right;
}
.WB_ping_onespan>a{
	color: #333;margin: 0 10px;
}
.WB_ping_onespan>a:hover{
	color:#fa7d3c;
}
.WB_ping_onespan>i{
	background: url(./../images/zan.png) no-repeat;padding-left: 15px;cursor: pointer;
}
.WB_ping_onespan>i:hover{
	background: url(./../images/zan_1.png) no-repeat;
}
.WB_ping_two{
	width: 560px;height: 80px; margin-left: 40px;border-bottom: 1px solid #d9d9d9;
}
.wei_hui{
	width: 560px;height:25px;margin-top: 10px;
}
.wei_huifu{
	float: right;width: 60px;height: 25px;line-height: 25px;background-color: #FFC09F;text-align: center;color: #fff;border: none;border-radius:3px;margin-top: 5px;
}
.WB_ping_three{
	width: 540px;margin-left: 40px;background-color: #EAEAEC;border-bottom: 1px solid #d9d9d9;padding: 0 10px;
}
.WB_ping_three_ul li a{
	font-size: 11px;color: #FA7D3C;
}
.WB_ping_three_ul li{
	font-size: 11px;color: #333;line-height: 30px;
}
.WB_ping_three_ul li span a{
	color: #333;
}
.weibo_gengduo{
	width: 620px;line-height: 40px;text-align: center;display: none;
}
.weibo_gengduo a{
	font-size: 14px;color: #333;
}
.page{
	width: 640px;height: 40px;line-height: 40px;background: #fff;margin-top: 10px;text-align: center;
}
.page .pagination{
	text-align: center;width: 640px;height: 40px;line-height: 40px;background: #fff;text-align: center;
}
.page ul li{
	float: left;margin: 0 10px;padding: 0 10px;
}
.page ul .active{
	border:none;color: #fa7d3c;
}



/*//===============转发*/
.zhuanfa{
	width:100%;height: 100%;background: #000;background-color:rgba(88,88,88,0.7);position: absolute;z-index: 999;top:0px;display: none;
}
.zCont{
	width: 500px;height: 300px;background: #fff;border: 1px solid #ddd; position: absolute;top:30%;left:50%;margin-left: -250px;position: fixed;border-radius: 3px;
}
#border{
	width: 360px;height: 180px;margin: 40px 70px 0px;border: 2px solid #fa7d3c;resize:none;border-radius: 3px;
}
#zhuan{
    float: right;width: 60px;height: 25px;line-height: 25px;background-color: #fa7d3c;text-align: center;color: #fff;border: none;border-radius: 3px;margin-top:20px;margin-right: 70px;cursor: pointer;
}
.close{
	float: right;cursor: pointer;
}

/*来自二逼的怨念*/

.wb_tab_a{
	height: 38px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0 6px;
	border-color: #f2f2f5;
}

.tab_item{
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 7px 0;
	height: 23px;
	line-height: 23px;
	margin-bottom: -1px
}

.follow_box .follow_inner{
	padding: 15px 16px 16px;
	overflow:hidden;
	margin-top: 10px;

}

.follow_box .follow_item{
	position: relative;
	margin-top: -1px;
	padding: 16px 0;
	border-top: none
}

.follow_box .mod_info{
	margin-left: 65px;
	vertical-align: top;
	zoom: 1;
	border-color:#d9d9d9

}

.follow_box .info_connect .conn_type{
	padding: 0 10px 0 0
}
.follow_box .info_connect{
	margin-top: 8px
}
.follow_box .info_connect .W_vline{
	display: inline;
	width: auto;
	padding: 0 10px
}

.W_vline{
	border-left-width: 1px;
	border-left-style: solid;
	width: 0;
	overflow: hidden
}
.follow_box .opt_box{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0
}
.W_btn_b{
	border-width: 1px;
	border-style: solid;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1)
}
.W_btn_a, .W_btn_b, .W_btn_c, .W_btn_d{
	padding: 0 10px 0 10px;
	white-space: nowrap;
	display: inline-block;
	border-radius: 2px;
	height: 24px;
	line-height:25px;
	text-decoration: none;
	font-size: 12px;
	min-width: 40px;
	text-align: center;
	outline: none
}
.follow_box .opt_box .W_btn_b{
	margin-left: 6px
}
