body,div,ul,li,a,h1,h2,h3,h4,h5,h6,input,textarea,select,table,th,td,tr,p,span{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.body{
	background: url(./../images/body_repeat.png) repeat-x;background-color: #B4DAF0;
}
.cen_top{
	width: 1080px;height: 300px;background: url(./../images/bg_02.png) no-repeat;margin: 0 auto;margin-top:50px; position: relative;
}
.con_toppic{
	width:100px;height:100px;border-radius:50%;margin-left:490px;border:1px solid #DBEDEA;position: absolute;top: 35px;
}
.con_toppic img{
	width:100px;height:100px;border-radius:50%;
}
.con_topname{
	width: 200px;height: 35px;line-height: 35px;position: absolute;top: 150px;left:440px;text-align: center;color: #fff;font-size: 18px;font-weight: bold;font-family: '微软雅黑';
}
.con_topcon{
	width: 400px;height: 35px;line-height: 35px;font-size: 14px;color: #fff;text-align: center;position: absolute;top: 200px;left: 320px;
}
.cen_nav{
	width: 1080px;height: 40px;margin: 0 auto;background-color: #fff;
}
.cen_nav ul{
	width: 540px;height: 38px;line-height: 38px;margin: 0 auto;
}
.cen_nav ul li{
	float: left;width: 70px;font-size: 14px;color: #333;text-align: center;cursor: pointer;margin: 0 auto;margin: 0 55px;
}
.cen_nav ul li:hover{
	border-bottom: 2px solid #FA7D3C;font-weight: bold;
}
.zhu_cont{
	width: 1080px;margin: 0 auto;margin-top: 10px;
}
.cont_left{
	width: 300px;float: left;margin-top: -10px;
}
.cont_center{
	width: 650px;margin-left: 20px;float: left;
}
.cont_right{
	width: 110px;float: left;background: #fff;border-radius: 3px;
}
.cont_left_one{
	width: 300px;height: 60px;background: #fff;border-radius: 3px;
}
.cont_left_one ul li{
	width: 99px;height: 40px;margin-top: 10px;border-right: 1px solid #D9D9D9;text-align: center;float: left;
}
.cont_left_one ul li:nth-child(3){
	border-right: none;
}
.cont_left_one ul li a{
	color: #333;display:block;
}
.cont_left_one ul li span{
	color: #666;font-size: 12px;
}
.cont_left_two{
	width: 300px;height: 170px;margin-top: 10px;background: #fff;border-radius: 3px;
}
.cont_left_two ul li{
	 width: 280px;height: 60px;line-height: 60px;padding-left: 20px;border-bottom: 1px solid #F2F2F5;font-size: 14px;color: #333;
}
.cont_left_two ul li a{
	font-size: 14px;color: #333;border-right: 1px solid #F2F2F5;padding-right: 20px;
}
.cont_left_two ul li a:hover{
	color: #FA7D3C;
}
.cont_left_two ul li i{
	color: #FA7D3C;
}
.cont_left_two>div{
	width: 300px;text-align: center;line-height: 50px;line-height: 50px;
}
.cont_left_two>div a{
	font-size: 14px;color: #333;
}
.cont_left_two>div a:hover{
	color: #FA7D3C;
}
.cont_left_three{
	width: 300px;margin-top: 10px;background: #fff;border-radius: 3px;
}
.cont_left_three>div>img{
	width: 125px;height: 125px;margin: 10px;
}
.cont_left_three>span{
	height: 40px;line-height: 40px;padding-left: 20px;width: 280px;display: block;font-size: 14px;color: #333;
}
.cont_left_three>span a{
	font-size: 14px;color: #333;margin-left: 100px;
}
.cont_left_three>span a:hover{
	color: #FA7D3C;
}
#wei_zan>img{
	width: 100px;height: 100px;float: left;
}
#wei_zan>div{
	width: 200px;height: 100px;float: right; margin-right: 10px;margin-top: 10px;font-size: 13px;overflow: hidden;
}
#wei_zan>div p{
	line-height: 25px;
}
#wei_zan>div p a{
	line-height: 30px;font-weight: bold;color: #333;
}
#wei_zan>div p a:hover{
	color: #FA7D3C;
}
.cont_right>ul>li>a{
	width: 110px;height: 30px;line-height: 30px;border-bottom: 1px dashed #d9d9d9;font-size: 14px;color: #666;display: block;text-align: center;
}
.cont_right ul li a:hover{
	color: #FA7D3C;
}
.wei_sou{
	width: 640px;height: 60px;background: #fff;border-radius: 3px;
}
.wei_souall{
	float: left;
}
.wei_souall>a{
	font-size: 16px;font-weight: bold;color: #333;width: 100px;height: 60px;line-height: 60px;margin-left:40px;
}
.wei_souall>a:hover{
	color: #FA7D3C;
}
.wei_souinp{
	float: right;margin-right: 30px;height: 60px;line-height: 60px;
}
#sou{
	width: 60px;color: #fff;background: #FA7D3C;border: none;height: 20px;cursor: pointer;border-radius: 2px;
}
.xiangce{
	width: 1080px;margin: 0 auto;margin-top: 10px;background: #fff;
}
.xiangce_d1{
	width: 1080px;height: 40px;line-height: 40px;border-bottom: 1px solid #D9D9D9;
}
.xiangce_d1 b{
	margin-left: 30px;color: #333;
}
.xiangce_d1 a{
	margin-right: 30px;color: #333;background: url(./../images/load_pic.png) no-repeat;float: right;width: 70px;line-height: 22px;display: inline-block;font-size: 12px;padding-left: 22px;margin-top:10px;
}
.xiangce_d1 a:hover{
	color: #FA7D3C;
}
.xiangce_pics>img{
	width: 200px;height: 200px;margin:10px 0px 10px 10px;
}
.xiangce_page{
	width: 1080px;height: 40px;border-top: 1px solid #D9D9D9;text-align: center;text-align: center;
}
.zhu_center{
	width: 1080px;margin: 0 auto;margin-top: 10px;background: #fff;padding-bottom: 30px;
}
.xinxi_one{
	width: 900px;height: 40px;border-bottom: 1px solid #D9D9D9;text-align: center;margin: 0 auto;
}
.xinxi_one span{
	font-size: 16px;color: #333;width: 60px;margin: 0 auto;padding-top: 10px;height: 40px;line-height: 40px;
}
.xinxi_two{
	width: 800px;margin: 0 auto;margin-top: 30px;
}
.xinxi_two table{
	width: 800px;
}
.xinxi_two table tr td{
	font-size: 14px;color: #444;line-height: 45px;
}
.xinxi_two table tr td span{
	font-size: 14px;color: #888;
}
.xinxi_two table tr td i{
	background: url(./../images/tianxie.png) no-repeat;padding-left: 25px;
}